{% if loop.first == false %}
<div class="c-sep c-sep--small"></div>
{% endif %}
<div class="c-block c-block--{{ block_item.layout }} u-sp-bottom u-sp-top u-sp--xlarge">
  <div class="c-block__content">
    <h3 class="c-block__title">{{ block_item.title }}</h3>
    <div class="c-block__post padding-top-medium-2">
      <div class="c-block__post-entry">
        {{ block_item.description }}
      </div>
    </div>
  </div>
  <div class="c-block__image-wrapper">
    <img
      class="c-block__image"
      src="{{ block_item.image.src }}"
      alt="{{ block_item.image.alt }}"
      height="{{ block_item.image.height }}"
      width="{{ block_item.image.width }}"
    >
  </div>
</div>
