{% set args = {
  title: "A modern development framework for WordPress and static websites",
  description: 'Craft <b>fast</b> and <b>easy to maintain</b> WordPress and static sites. Use the <b>power</b> and <b>simplicity</b> of Timber and Twig. Make your CSS <b>scalable</b> and <b>maintainable</b> with ITCSS. Get rid of tedious manual tasks with Chisel’s <b>modern development workflow.</b>',
  buttons: [
    {
      link: '/docs',
      text: 'Get started',
      fill: true
    },
    {
      link: '#why-chisel',
      text: 'Learn more',
    }
  ],
  media: {
    image: {
      src: assetPath('images/chisel.jpg'),
      alt: "Video Placeholder",
      width: 600,
      height: 370,
    },
  },
} %}

<section class="c-home-hero margin-top-4 margin-top-medium-8 margin-top-large-14">
  <div class="o-container">
    <div class="c-home-hero__inner">
      <div class="c-home-hero__content margin-right-medium-6">
        <h1 class="c-home-hero__title margin-bottom-2 margin-bottom-large-3">{{ args.title }}</h1>
        <p class="c-home-hero__description margin-bottom-2 margin-bottom-large-3">{{ args.description }}</p>
        <div class="c-home-hero__buttons">
          {% for button in args.buttons %}
            <a class="c-home-hero__button c-btn {{ button.fill ? 'c-btn--primary' : 'c-btn--secondary' }}" href="{{ button.link }}">{{ button.text }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="c-home-hero__media{{args.media.video ? ' js-video'}}">
        <div class="c-home-hero__media-wrapper">
          {% if args.media.image %}
            <img
              class="c-home-hero__image"
              src="{{ args.media.image.src }}"
              alt="{{ args.media.image.alt }}"
              height="{{ args.media.image.height }}"
              width="{{ args.media.image.width }}"
            />
          {% endif %}
          {% if args.media.video %}
            <button
              type="button"
              class="c-home-hero__video-button"
            >
            </button>
            <div class="c-home-hero__video-output" data-src="{{ args.media.video.src }}"></div>
            <noscript>
              <div class="c-home-hero__noscript">
                  <p>This video requires JavaScript to play</p>
              </div>
            </noscript>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
