{% extends "layouts/base.twig" %}
{% block content %}

  {% set sidebar = sidebar() %}

  <div class="u-sp-top u-sp--xlarge o-layout">

    {% if sidebar is not empty %}
      <div class="c-sidebar o-layout__sidebar">
        {{sidebar}}
      </div>
    {% endif %}

    <article id="post-{{post.ID}}" class="c-post o-layout__content">
      <section>
        <h1 class="c-title">{{post.title}}</h1>
        <p class="c-intro">{{post.data.excerpt}}</p>
        <div class="c-post__entry">
          {{post.content}}
        </div>
      </section>

      {% if post.parent %}
          <ul class="c-page-nav">
            {% if post.prev.next != '' and post.prev.title != 'Home' %}
              <li class="c-page-nav__item c-page-nav__item--prev">Previous: <a href="{{post.prev.link}}">{{post.prev.title}}</a></li>
            {% endif %}
            {% if post.next.title != '' %}
              <li class="c-page-nav__item c-page-nav__item--next">Next: <a href="{{post.next.link}}">{{post.next.title}}</a></li>
            {% endif %}
          </ul>
      {% endif %}

    </article>

    {% if sidebar is not empty %}
      <div class="o-layout__gap"></div>
    {% endif %}

  </div>

{% endblock %}
