{% extends "layouts/base.twig" %}
{% block content %}

  <section class="c-post o-container margin-bottom-4">

    {% include 'components/sidebar.twig' %}

    <article id="post-{{post.ID}}" class="c-post__article o-content o-layout__content padding-top-2 padding-top-medium-4 padding-top-large-8">
      <div>
        <h1 class="c-title">{{post.title}}{{ isDev() ? (' (' ~ post.data.order ~ ')') : '' }}</h1>
        <p class="c-intro">{{post.data.excerpt}}</p>
        <div class="c-post__entry">
          {{post.content}}
        </div>
      </div>

      {% include 'components/page-nav.twig' %}
    </article>

    {% include 'components/page-sidebar.twig' %}

  </section>

{% endblock %}
