{% block html_head_container %}

{% include 'partials/html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <header>
    {% block header %}
      <a href="{{site.url}}" rel="home">{{site.name}}</a>
      <nav class="c-nav-main" role="navigation">
        {% include "partials/menu.twig" with {'menu': menu.get_items} %}
      </nav>
    {% endblock %}
  </header>

  <main>
    {% if title %}<h1>{{title}}</h1>{% endif %}
    {% block content %}
      Sorry, no content
    {% endblock %}
    </div>
  </main>

  {% if sidebar %}
    <aside>
      {{sidebar}}
    </aside>
  {% endif %}

  {% block footer %}
    <footer>
      {% include 'partials/footer.twig' %}
    </footer>
    <script src="{{ assetPath('scripts/bundle.js') }}" async></script>
    {{ function('wp_footer') }}
  {% endblock %}
</body>
</html>
