<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="<% if (projectType == 'wp-with-fe') { %>{{site.charset}}<% } else { %>utf-8<% }%>" />
  <title><% if (projectType == 'wp-with-fe') { %>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  <% } else { %>
    {{ pageName }} - <%= name %>
  <% } %></title>
  <link rel="stylesheet" property="stylesheet" href="{{ revisionedPath('styles/main.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
  {% if hasVendor() %}
    <script src="{{ revisionedPath('scripts/vendor.js') }}" defer></script>
  {% endif %}
  <script src="{{ revisionedPath('scripts/bundle.js') }}" defer></script>
<% if (projectType == 'wp-with-fe') { %><link rel="pingback" href="{{site.pingback_url}}" />
  {{function('wp_head')}}<% } %>
  {% block head %}
  {% endblock %}
</head>

<body class="{{body_class}}">
  {% block header %}
    {% include 'components/header.twig' %}
  {% endblock %}
  <% if (projectType == 'wp-with-fe') { %>
  {% include 'components/main-nav.twig' %}<% } %>

  <main class="o-wrapper">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {% block footer %}
    {% include 'components/footer.twig' %}
  {% endblock %}<% if (projectType == 'wp-with-fe') { %>
  {{ function('wp_footer') }}<% } %>
</body>
</html>
